doctype html
html(lang="fr")
  head
    title!= title
    link(rel="stylesheet" href="/main.css")
  body
    header
      .face.col.col-2
        a(href="/")
          img(src="//www.gravatar.com/avatar/#{gravatar_hash}?s=132", alt!= title, class="rounded")
      .resume.col.col-8.arrow
        h1 #{data["prenom"]} #{data["nom"]}
        h2 #{data["fonction"]}
        p #{data["resume"]}

    section
      header.col.col-10
        h2 #{competences["label"]}

      .content.col.col-10
        ul
          each langage, index in competences["langages"]
            li.langage(class='percent-#{langage["pourcentage"]}')
              | #{langage["nom"]}

    section
      header.col.col-10
        h2 #{experiences["label"]}

      each poste, index in experiences["postes"]
        article
          .intitule.col.col-4
            p
              | <strong>#{poste["societe"]}</strong><br>
              | #{poste["fonction"]}<br>
              span.date
                unless poste["date_fin"]
                  | depuis&nbsp;
                | #{moment(poste["date_deb"]).format("MMMM YYYY")}<br>
                if poste["date_fin"]
                  | à #{moment(poste["date_fin"]).format("MMMM YYYY")}<br>
                  | (#{moment(poste["date_fin"]).from(poste["date_deb"], true)})
                else
                  | (#{moment().from(poste["date_deb"], true)})
          .description.col.col-6.arrow
            if typeof(poste["resume"]) == "object"
              ul
                each li, index in poste["resume"]
                  li #{li["mission"]}
            else
              p #{poste["resume"]}

    section
      header.col.col-10
        h2 #{formations["label"]}

      .content.col.col-10
        each etude, index in formations["etudes"]
          p
            span.date #{etude["annee_deb"]}-#{etude["annee_fin"]} &mdash;&nbsp;
            | #{etude["nom"]}

    section
      header.col.col-10
        h2 #{interets["label"]}

      .content.col.col-10
        p #{interets["resume"]}
